body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container-small{
    background-color: rgb(82, 77, 77);
    flex: 1 1 20%;
}
.container-large{
    background-color: rgb(51, 45, 45);
    flex: 1 1 70%;
}